@import '../../style/theme/default.less';

@modal-border-radius: @radius-large;
@modal-size-tip-icon: 18px;
@modal-margin-top: 100px;
@modal-margin-tip-icon-right: @spacing-4;
@modal-margin-footer-button-left: @spacing-6;
@modal-color-border: var(~'@{arco-cssvars-prefix}-color-neutral-3');
@modal-border-width: @border-none;
@modal-box-shadow: @shadow-none;
@modal-color-header-text: var(~'@{arco-cssvars-prefix}-color-text-1');
@modal-color-content-text: rgba(#0a1c39, 0.8);
@modal-font-header-size: @font-size-title-2;
@modal-font-header-weight: @font-weight-500;
@modal-font-content-size: @font-size-body-3;
@modal-default-align-header: left;
@modal-simple-align-header: center;
@modal-default-align-footer: right;
@modal-simple-align-footer: center;

@modal-default-padding-horizontal: 24px;
@modal-default-size-header-height: @size-12;
@modal-default-padding-content-vertical: @spacing-9;
@modal-default-padding-content-horizontal: @spacing-7;
@modal-default-padding-footer-vertical: @spacing-9;
@modal-default-size-width: 520px;

@modal-simple-size-width: 464px;
@modal-simple-padding-horizontal: @spacing-10;
@modal-simple-padding-top: @spacing-10;
@modal-simple-padding-bottom: @spacing-9;
@modal-simple-margin-footer-top: @spacing-9;
@modal-simple-margin-content-top: @spacing-7;

@modal-position-close-icon-right: 16px;
@modal-font-size-close-icon: 20px;
@modal-color-close-icon: #3c4961;

@modal-header-height: 31px;
